@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Aurora Auto</h1>
</div>

<body class="backgroundimage">

    <div class="p1">
        Your Car Care <br />
        Specialist
    </div>
</body>
<div>
    <button style="position:absolute top:400px; left:20px;">Shop Now</button>
</div>






