@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Aurora Auto</h1>
</div>

<body class="backgroundimage">

    <p class="p1">
        Your Car Care <br />
        Specialist
    </p>
    <a href="#" class="btn btn-primary" class="shopbutton">Shop Now</a>

</body>






