@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Aurora Auto</h1>
</div>

<body class="backgroundimage">

    <div style=" position:fixed;
    left:50px;
    bottom: 100px;
    font-size:50pt;
    color:white;">
        Your Car Care <br />
        Specialist
    </div>

    <div >
        <a style="
        position:fixed;
        left:360px;
        bottom:130px;" 
            href="#" class="btn btn-lg btn-success">Shop</a>
    </div>

</body>







