﻿@{
    ViewData["Title"] = "Shop";
}

<section class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slide-1" <img src="~/images/pexels-tima-miroshnichenko-6872161.jpg" /> alt="Snow Foam Black Car" style="width:1200px;height:650px;" />
            <img id="slide-2" <img src="~/images/pexels-torque-detail-3806966-7154622.jpg" /> alt="Wheel Cleaning" style="width:1200px;height:650px;" />
            <img id="slide-3" <img src="~/images/pexels-introspectivedsgn-4140943.jpg" /> alt="Cleaning Chemicals" style="width:1200px;height:650px;" />
        </div>
        <div class="slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
        </div>
</section>