﻿@{
    ViewData["Title"] = "Shop";
}

<section class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slide-1" <img src="~/images/tim-meyer-noatfshx5em-unsplash.jpg" /> alt="Picture of White BMW E92 M3" style="width:1200px;height:650px;" />
            <img id="slide-2" src="https://images.unsplash.com/photo-1694678505414-1cd1284d86c6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" style="width:1200px;height:650px;" />
            <img id="slide-3" src="https://cdn.pixabay.com/photo/2022/06/29/07/52/car-7291166_1280.jpg" alt="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" style="width:1200px;height:650px;" />
        </div>
        <div class="slider-nav">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
</section>