html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
  margin-bottom: 60px;
  background-color: transparent;
}

.backgroundimage {
    background-image: url('../images/tim-meyer-noatfshx5em-unsplash.jpg');
    background-size: cover;
    background-position-x:50%;
    background-position-y:58%

}

.p1 {
    position:relative;
    right:300px;
    top: 500px;
    font-size:50pt;
    color:white;
}

.shopbutton {
    position: relative;
    top: 700px;
    right: 350px;
}

.slider-wrapper {
    position: relative;
    max-width: 70rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/ 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    .slider::-webkit-scrollbar {
        display: none;
    }

    .slider img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
    }

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

    .slider-nav a {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #808080;
        opacity: 0.75;
        transition: opacity ease 250ms;
    }

        .slider-nav a:hover {
            opacity: 1;
        }
